        body {
            margin: 0;
            font: 16px "Century Gothic", Futura, sans-serif;
            color: deepskyblue;
            /*     background-image: url('../public/giphy.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh; */
        }
        
        .background {
            background-color: black;
            background-image: url('../public/giphy.gif');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            min-height: 100vh;
            min-width: 100vw;
            z-index: -2;
            position: fixed;
        }
        
        button {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            padding: 2vh;
            background-color: darkslategrey;
            color: deepskyblue;
        }
        
        .active {
            font-weight: 900;
        }
        
        .board-row:after {
            clear: both;
            content: "";
            display: table;
        }
        
        .game {
            display: grid;
            grid-template-areas: 'a' 'b' 'c';
            grid-template-rows: 10vh 54vh 25vh;
            grid-template-columns: 100vw;
            min-height: 100vh;
            background-color: rgb(0 0 0 / 50%);
            justify-items: center;
        }
        
        .game-board {
            align-self: center;
            max-height: 60vh;
            grid-area: b;
        }
        
        .game-info {
            grid-area: c;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .title {
            grid-area: a;
            margin-top: 1.3rem;
            font-size: 2rem;
            text-decoration: underline;
        }
        
        .square {
            background-color: rgb(47, 79, 79);
            border: 1px solid #999;
            float: left;
            font-size: 2rem;
            font-weight: bold;
            height: 20vw;
            max-height: 18vh;
            width: 20vw;
            max-width: 18vh;
            margin-right: -1px;
            margin-top: -1px;
            padding: 0;
            text-align: center;
        }
        
        .square:focus {
            outline: none;
        }
        
        li {
            margin-top: 0.5rem;
        }
        
        li>button {
            color: rgb(17, 17, 17);
        }
        
        ol,
        ul {
            list-style: none;
            margin: 0.7rem 0 0 -2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        ol:first-child {
            margin-bottom: 0.3rem;
        }
        
        .winner {
            background-color: red;
        }
        
        @media screen and (min-width:450px) and (max-width:768px) {
            .game-info {
                margin-top: 7vw;
            }
            .game {
                grid-template-rows: 15vh 54vh 25vh;
            }
            .square {
                font-size: 2.2rem;
            }
        }
        
        @media screen and (min-width:769px) {
            .game {
                grid-template-areas: 'a a' 'b c';
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 10vh 1fr;
                align-items: center;
            }
            .title {
                font-size: 3rem;
            }
            .square {
                font-size: 2.5rem;
            }
        }